// FAQ Section
@use '../base/variables' as *;

.faq-section {
  padding: 40px 0;
}

.faq-header {
  position: relative;
  h2 {
    font-size: 50px;
    display: inline-block;
    text-align: left;
    z-index: 1;
  }
  .blue-frame{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: $dark-blue;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
  }
}

.faq-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $black;
  &:last-of-type {
    border-bottom: none;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: $text-dark;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    color: $text-dark;
    margin-bottom: 10px;
    sup{
      font-size: 14px;
      vertical-align: super;
    }
  }
}
