// Hero Section
@use '../base/variables' as *;

.hero-section {
  background-color: $white;
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.hero-left {
  display: flex;
  padding-bottom: 50px;
  z-index: 3;
  align-items: center;
  justify-content: flex-start;
}

.hero-logo {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.hero-brand-text {
  font-size: 35px;
  font-weight: 600;
  font-family: $font-primary;
  color: $black;
  white-space: nowrap;
}

.hero-middle {
  display: flex;
  z-index: 1;
  .diagonal-stripe {
    position: relative;
    width: 65px;
    height: 200px;
    background-color: $dark-blue;
    transform: skew(160deg);
    z-index: 2;
  }
}



.hero-image-wrapper {
  width: 550px;
  height: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  max-width: 235px;
  img {
    display: block;
    width: 90px;
    height: auto;
    margin-bottom: 10px;
  }

  span {
    display: block;
    font-family: $font-primary;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
  }
}

hr.hr-separator {
  margin: 10px auto;
  max-width: 1160px;
  border: none;
  border-top: 4px solid $light-gray;
}