// Plans Section
@use '../base/variables' as *;

.plans-section {
  background-color: $white;
}

.plans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 160px;
  h2 {
    display: flex;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
  }
  div.subscribe{
    display: flex;
    position: relative;
    align-items: center;
    height: 170px;
    div.subscribe-from {
      background-color: $white;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-right: 50px;
      border: 4px solid $black;
      padding: 20px 15px;
      border-radius: 8px;
      img.icon {
        width: auto;
        height: 64px;
        margin-right: 20px;
      }

      span {
        font-size: 32px;
        line-height: 1.0;
        font-weight: 600;
      }
    }
    div.blue-frame {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 200px;
      background-color: $dark-blue;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
      z-index: 1;
    }
  }
}

.plans-wrapper {
  padding: 80px 20px 20px;
  position:relative;
  .blue-frame-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 240px;
    width: 230px;
    background-color: $dark-blue;
    clip-path: polygon(0% 0, 100% 0, 60% 100%, 0% 100%);
    z-index: 2;
  }
  .blue-frame-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 385px;
    width: 200px;
    background-color: $dark-blue;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
  }
}

.plans-grid {
  display: flex;
  gap: 0;
  justify-content: center;
  border-right: none;
  margin-bottom: 30px;
  align-items: center;
  z-index: 5;
}

.plans-note {
  text-align: center;
  margin-top: 20px;
  
  p {
    font-size: 18px;
    color: $text-dark;
  }
}

.plan-card {
  z-index: 5;
  height: 300px;
  width: 20%;
  text-align: center;
  background-color: $bg-gray;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.enlarged {
    margin-top:-35px;
    height: 425px;
    border-left: 1px solid;
    border-color: $dark-blue;
    background-color: $white;
  }
  &:first-of-type{ border-left: 1px solid $black; }
  &:nth-of-type(2),
  &:nth-of-type(4) { border-right: none; }

  .recommended-plan {
    height: 80px;
    color: $black; 
    padding: 15px 20px;
    font-size: 18px; 
    font-weight: 600;
    white-space: nowrap;
    z-index: 10;
  }

  h3 {
    padding: 10px 0;
    font-size: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid $black;
  }

  .plan-pages {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    display: flex;
  }

  .plan-price {
    display: flex;
    font-size: 48px;
    font-weight: 700;
  }

  .plan-period {
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
}
