// Hero Black Section
@use '../base/variables' as *;

.savings-section {
  background-color: $white;
  position: relative;
  color: $black;
}

.savings-content {
  display: flex;
}

.savings-text {
  flex: 1;

  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: 400;
  }
}

.savings-image {
  flex: 1;
}
