// What Is Section
@use '../base/variables' as *;

.what-is-section {
  background-color: $white;
  padding: 30px 0;
}

.what-is-content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.what-is-col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.what-is-text {
  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 400;
  }
}

.what-is-image {
  img {
    width: 100%;
    height: auto;
  }
}

.what-is-col-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-is-video-wrapper {
  width: 100%;
  max-width: 600px;
  
  .what-is-video-content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}