//- Benefits Section
section.benefits-headline-section
  .container
    h2 A impressão sem complicações,<br/> comece com o HP Instant Ink.
section.benefits-section
  .container
    .benefits-grid
      .benefit-item
        .benefit-text
          h3 Nunca fique sem tinta<sup>3</sup>
          p A sua impressora deteta quando os níveis de tinta estão baixos e receberá a tinta de que necessita em casa<sup>2</sup>
        img(src="./assets/images/never-run-out-img.png" alt="Nunca fique sem tinta")
      .benefit-item
        .benefit-text
          h3 Altere ou cancele a sua subscrição em qualquer altura<sup>5</sup>
          p Ganhe tranquilidade com um serviço de subscrição flexível e sem preocupações. Cancele ou altere o seu plano em qualquer altura.
        img(src="./assets/images/subscription-img.png" alt="Altere ou cancele em qualquer altura")
      .benefit-item
        .benefit-text
          h3 Qualquer impressão pelo mesmo preço.
          p Imprima fotografias e apresentações a cores, ao mesmo preço que documentos a cores, ao mesmo preço que documentos a preto e branco.
        img(src="./assets/images/price-img.png" alt="Qualquer impressão pelo mesmo preço")
      .benefit-item
        .benefit-text
          h3 Reciclagem incluída
          p Mais de 962 milhões de tinteiros HP Originais foram reciclados pelos clientes HP com o programa HP Planet Partners<sup>4</sup>.
        img(src="./assets/images/recicle-img.png" alt="Reciclagem incluída")
