//- Call to Action Section
section.hpi-cta-section
  .hpi-container
    .hpi-cta-content
      h1 Ainda não tem uma impressora HP Instant Ink?
      a.hpi-btn-black.hpi-cta-button(href="#linkretalhista") Comprar agora