//- FAQ Section
section.faq-section
  .container
    .faq-header
      h2 Perguntas Frequentes sobre o Instant Ink
      .blue-frame
    .faq-content
      .faq-item
        h3 Como funciona o HP Instant Ink?
        p O HP Instant Ink baseia-se no número de páginas, não nos tinteiros. Escolha um plano com base no número de páginas que pretende imprimir por mês. A mensalidade inclui tinteiros, entrega ao domicílio e reciclagem<sup>4</sup>.
      .faq-item
        h3 O serviço HP Instant Ink permite realmente poupar dinheiro?*
        p Sim, a maioria dos clientes poupa até 70%<sup>1</sup> em tinta. Os tinteiros Instant Ink têm mais capacidade, usam menos embalagens e são enviados automaticamente, o que reduz os custos para a HP - e essas poupanças são transferidas para si.
      .faq-item
        h3 Com que rapidez recebo os tinteiros?
        p Receberá os tinteiros entre 7 a 10 dias após o registo. Os envios seguintes só são feitos quando os níveis de tinta estiverem baixos, não mensalmente.
      .faq-item
        h3 Vale a pena o serviço HP Instant Ink?
        p Com o Instant Ink, terá sempre tinta quando precisar. É enviadas automaticamente quando está a ficar sem tinta e cada página custa o mesmo.
