//- Hero Section
section.hpi-hero-section
  .hpi-container
    .hpi-hero-content
      .hpi-hero-left
        img.hpi-hero-logo(src="./assets/images/hero-hp-logo.png" alt="HP")
        span.hpi-hero-brand-text Instant Ink
      .hpi-hero-middle
        .hpi-diagonal-stripe
        .hpi-hero-image-wrapper
          img(src="./assets/images/hero-img.png" alt="Family")
      .hpi-hero-right
        img(src="./assets/images/hero-crowd-icon.png" alt="Subscribers")
        span Junte-se a mais de 11 milhões de subscritores
