//- Hero Section
section.hero-section
  .container
    .hero-content
      .hero-left
        img.hero-logo(src="./assets/images/hero-hp-logo.png" alt="HP")
        span.hero-brand-text Instant Ink
      .hero-middle
        .diagonal-stripe
        .hero-image-wrapper
          img(src="./assets/images/hero-img.png" alt="Family")
      .hero-right
        img(src="./assets/images/hero-crowd-icon.png" alt="Subscribers")
        span Junte-se a mais de 11 milhões de subscritores
