//- How It Works Section
section.how-section
  .container
    .how-header
      h2 Como funciona
    .how-grid
      .how-item
        .how-number 1.
        img(src="./assets/images/icon-step-1.png" alt="Step 1")
        h3 Subscreva e escolha
        p Subscreva a partir de 1,79€/mês. Escolha um plano com base na frequência com que imprime, não na quantidade de tinta que usa.
      .how-item
        .how-number 2.
        img(src="./assets/images/icon-step-2.png" alt="Step 2")
        h3 Nunca fique sem tinta<sup>3</sup>
        p A sua impressora deteta quando os níveis de tinta estão baixos e receberá a tinta de que necessita em casa.<sup>2</sup>
      .how-item
        .how-number 3.
        img(src="./assets/images/icon-step-3.png" alt="Step 3")
        h3 Devolução dos tinteiros usados
        p Envie os tinteiros vazios com o nosso serviço de reciclagem pré-pago e ajude-nos a reutilizar plástico em novas impressoras.<sup>4</sup>
      .how-item
        .how-number 4.
        img(src="./assets/images/icon-step-4.png" alt="Step 4")
        h3 Altere ou cancele em qualquer momento<sup>5</sup>
        p Veja quanto está a imprimir a partir da aplicação e altere o seu plano em qualquer altura.
