//- Plans Section
section.hpi-plans-section
  .hpi-container
    .hpi-plans-header
      h2 Escolha um plano e <br>Comece agora
      div.hpi-subscribe
        .hpi-blue-frame
        div.hpi-subscribe-from
          img.hpi-icon(src="./assets/images/icon-ink-drop.png" alt="Subscribe Icon")
          span Subscreva a partir<br> de 1,79€/mês.
    .hpi-plans-wrapper
      .hpi-blue-frame-left
      .hpi-plans-grid
        .hpi-plan-card
          h3 Light
          .hpi-plan-pages até 10 páginas
          .hpi-plan-price 1,79€
          .hpi-plan-period mês
        .hpi-plan-card
          h3 Ocasional
          .hpi-plan-pages até 50 páginas
          .hpi-plan-price 5,49€
          .hpi-plan-period mês
        .hpi-plan-card.hpi-enlarged
          .hpi-recommended-plan Recomendado <br> para casa
          h3 Moderado
          .hpi-plan-pages até 100 páginas
          .hpi-plan-price 7,99€
          .hpi-plan-period mês
        .hpi-plan-card
          h3 Frequente
          .hpi-plan-pages até 300 páginas
          .hpi-plan-price 15,99€
          .hpi-plan-period mês
        .hpi-plan-card.hpi-enlarged
          .hpi-recommended-plan Recomendado para <br> pequenas empresas
          h3 Empresarial
          .hpi-plan-pages 700 páginas
          .hpi-plan-price 31,99€
          .hpi-plan-period mês
      .hpi-plans-note
        p Pague 1,50 € por cada 10-15 páginas extra no seu plano atual.
      .hpi-blue-frame-right