//- Plans Section
section.plans-section
  .container
    .plans-header
      h2 Escolha um plano e <br>Comece agora
      div.subscribe
        div.subscribe-from
          img.icon(src="./assets/images/icon-ink-drop.png" alt="Subscribe Icon")
          span Subscreva a partir<br> de 1,79€/mês.
        .blue-frame
    .plans-wrapper
      .blue-frame-left
      .plans-grid
        .plan-card
          h3 Light
          .plan-pages até 10 páginas
          .plan-price 1,79€
          .plan-period mês
        .plan-card
          h3 Ocasional
          .plan-pages até 50 páginas
          .plan-price 5,49€
          .plan-period mês
        .plan-card.enlarged
          .recommended-plan Recomendado <br> para casa
          h3 Moderado
          .plan-pages até 100 páginas
          .plan-price 7,99€
          .plan-period mês
        .plan-card
          h3 Frequente
          .plan-pages até 300 páginas
          .plan-price 15,99€
          .plan-period mês
        .plan-card.enlarged
          .recommended-plan Recomendado para <br> pequenas empresas
          h3 Empresarial
          .plan-pages 700 páginas
          .plan-price 31,99€
          .plan-period mês
      .plans-note
        p Pague 1,50 € por cada 10-15 páginas extra no seu plano atual.
      .blue-frame-right