//- Promo Section
section.hpi-promo-section
  .hpi-container
    .hpi-promo-content
      .hpi-promo-text
        h2 3 meses de Instant Ink grátis*
        p.hpi-subtitle Subscreva o HP Instant Ink e usufrua dos primeiros 3 meses da sua subscrição gratuitamente.
      .hpi-diagonal-stripe
      .hpi-promo-image
        img(src="./assets/images/free-months-img.png" alt="3 meses de Instant Ink grátis")