//- Promo Section
section.promo-section
  .container
    .promo-content
      .promo-text
        h2 3 meses de Instant Ink grátis*
        p.subtitle Subscreva o HP Instant Ink e usufrua dos primeiros 3 meses da sua subscrição gratuitamente.
      .diagonal-stripe
      .promo-image
        img(src="./assets/images/free-months-img.png" alt="3 meses de Instant Ink grátis")