//- What Is Section
section.hpi-what-is-section
  .hpi-container
    .hpi-what-is-content
      .hpi-what-is-col-1
        .hpi-what-is-text
          h2 O que é o Instant Ink?
          p.hpi-subtitle O HP Instant Ink é um serviço de subscrição de tinteiros sem complicações, que entrega automaticamente tinteiros à sua porta mesmo antes de a tinta acabar <sup>2</sup>.<br/>Subscreva a partir de 1.79€/mês.
        .hpi-what-is-image
          img(src="./assets/images/about-img.png" alt="What is Instant Ink")
      .hpi-what-is-col-2
        .hpi-what-is-video-wrapper
          .hpi-what-is-video-content
            iframe(width="560" height="315" src="https://www.youtube.com/embed/WcHPi3zw9eQ?si=2ANoKO3j2gNtgB9b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)