doctype html
html(lang="pt-PT")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HP Instant Ink - Poupe até 70% em tinteiros
    link(rel="stylesheet" href="./scss/main.scss")
  body
    include pug/sections/hero.pug
    hr.hr-separator
    include pug/sections/savings.pug
    include pug/sections/what-is.pug
    include pug/sections/promo.pug
    include pug/sections/how-it-works.pug
    include pug/sections/cta.pug
    include pug/sections/plans.pug
    include pug/sections/cta.pug
    include pug/sections/benefits.pug
    include pug/sections/faq.pug
    include pug/sections/legal.pug
